* {
    font-family: 'poppins',arial;
}

h1 {
    font-family: 'poppins',arial;
    margin-left: 10px;
    display: block;
}

.content {
    box-shadow:1px 1px 10px rgba(96,96,96,10);
    margin-top: 15%;
    margin-bottom: 100%;
    border-radius: 10px;
}

.download-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.anime-download {
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
}

div a button {
    border:0;
    border-radius: 10px;
    font-size: 20px;
    background-color: skyblue;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}